section {
  margin-bottom: $base-spacing;
}

.container {
  @include outer-container;
  padding: 0 $base-spacing / 2;
  @include media($max-screen) {
    padding: 0;
  }
}

h2 {
  margin-bottom: $base-spacing;
  border-bottom: 2px solid $light-gray;
  padding: 0.2em 0;
  position: relative;
}
h2:before {
  content: '\f1b0';
  font-family: FontAwesome;
  font-size: $base-font-size * 1.5;
  color: $base-accent-color;
  margin-right: 0.2em;
}
h2:after{
  content:"";
  display:block;
  position:absolute;
  z-index:2;
  background:#57A625;
  background: $base-accent-color;
  height:2px;
  width:77.7%;
  width:100%;
  left:0;
  bottom:0;
}

section h3 {
  margin-bottom: $base-spacing / 2;
}
section h3:before {
  content: '\f144';
  font-family: FontAwesome;
  color: $base-accent-color;
  margin-right: 0.2em;
}

table {
  font-size: $small-font-size;
}
