@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
// $visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: 0;
$visual-grid-opacity: 0.15;
@import "neat";

@import "module/header";
@import "module/hero";
@import "module/footer";

$small-font-size: em(14);

.container {
  @include outer-container;
  padding: 0 $base-spacing / 2;
  @include media($max-screen) {
    padding: 0;
  }
}

h1,
h2,
h3 {
  margin-bottom: $base-spacing;
}
h2 {
  border-bottom: 4px solid $base-accent-color;
}
h3 {
  border-left: 4px solid $base-accent-color;
}
footer h3 {
  border: none;
}

#contents-links {
  h3 { border: none; }
  li {
    @include span-columns(4);
    text-align: center;
    h3 {
      font-size: $small-font-size;
    }
  }
}

table {
  font-size: $small-font-size;
}

#staff-list {
  li {
    @include row;
    margin-bottom: $base-spacing / 2;
    img {
      @include span-columns(4);
    }
    ul {
      @include span-columns(8);
      li {
        font-size: $small-font-size;
        margin: 0;
      }
    }
  }
  // li {
  //   @include span-columns(6);
  //   @include omega(2n);
  //   li {
  //     @include fill-parent;
  //   }
  // }
}
