#contents-links {
  li {
    @include span-columns(4);
    text-align: center;
    h3 {
      font-size: $small-font-size;
    }
    h3:before {
      content: "";
    }
  }
  img {
    @include border-top-radius(50%);
    @include border-right-radius(50%);
    @include border-bottom-radius(50%);
    @include border-left-radius(50%);
    @include media($medium-screen) {
      max-width: 192px;
    }
  }
}
