.contact-links {
  li {
    margin-bottom: $base-spacing / 2;
    @include media($medium-screen) {
      @include span-columns(6);
      margin-bottom: 0;
    }
  }
  a {
    @extend %button;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, .05) -1px 1px 0px, rgba(255, 255, 255, .2) -1px 1px 0px inset;
    font-size: $base-font-size * 1.2;
    padding: 0;
    line-height: 3;
    width: 100%;
    text-align: center;
  }
  i {
    color: rgba(white, .7);
    font-size: $base-font-size * 1.5;
    position: relative;
    top: 3px;
  }
}
