#eyecatch {
  margin-bottom: $base-spacing;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  @include media($medium-screen) {
    height: 200px;
  }
  @include media($large-screen) {
    height: 300px;
  }
}
.flow #eyecatch {
  background-image: url(/images/eyecatch-flow.jpg);
  background-position: 66% center;
}
.care #eyecatch {
  background-image: url(/images/eyecatch-care.jpg);
  background-position: 66% center;
}
.price #eyecatch {
  background-image: url(/images/eyecatch-price.jpg);
  background-position: 66% center;
}
.legal #eyecatch {
  background-image: url(/images/eyecatch-legal.jpg);
  background-position: 66% center;
}
