---
title: スタッフ紹介
---

h1 スタッフ紹介
/ Refills Grid Itemsにする

img src=(lorem.image '120x120', :text => '120x120 Profile')
h2 大澤寛太郎
p ヒト
p 1944年生 ♂
p 元地方公務員
p 趣味：園芸

img src=(lorem.image '120x120', :text => '120x120 Profile')
h2 にこ
p ニャンコ
p 2001年生 ♀
p 正統的ミックス
p 複雑な色彩の体毛
p 性格：超然

img src=(lorem.image '120x120', :text => '120x120 Profile')
h2 チッチ
p ニャンコ
p 200X年生 ♂
p ミックス
p 一見黒だが縞があり地は白
p 短い尾、鋭い目つき

img src=(lorem.image '120x120', :text => '120x120 Profile')
h2 ポッポ
p ニャンコ
p 200X年生 ♀
p ミックス
p サビ
p 唯一抱かれるのを好む

img src=(lorem.image '120x120', :text => '120x120 Profile')
h2 次郎
p わんこ
p 2012年生 ♂
p 血統書付き柴犬
p 赤
p ガラスに鼻先を押し付けるのが好き
